body {
  margin: 0; 
  padding: 0;
  font-family: Arial, sens-serif; 
  color: #2a6348; 
}

div, span, p, a, input, button {
  box-sizing: border-box;
} 

.top-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
  background: url(../img/1.1.jpg) no-repeat center top / cover; 
  letter-spacing: 0.2em; 
}

.top-section__title {
  margin: 0 auto; 
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
}

.top-section__subtitle {
  font-weight: normal;
  text-align: center;
  color: #374d54;
}

.top-section__button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 40px;
  font-size: 20px;
  color: #fff;
  background: transparent;
  border: 3px solid #2a6348;
  border-radius: 8px; 
  text-transform: uppercase;
  cursor: pointer;
}

.top-section__button:hover {
  background: #2a6348;
}

.project-description {
  background-color: #f3f5f8;
  background-size: cover;
}
   
.project-description__title {
  margin: 0;
  padding: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.project-description__text {
  margin: 0;
  padding-bottom: 120px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.1em;
}

 .area-development {
  height: 740px;
}   

.area-development__title {
  margin: 100px 0 120px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.area-development-list {
  display: flex;
  justify-content: space-around;
}

.area-development-list-item {
  text-align: center;
  list-style-type: none;
}

.area-development-list-item__title {
  margin: 50px 0 80px;
  font-size: 15px;
  text-transform: uppercase;
}

.area-development-list-item__text {
  line-height: 2;
  font-size: 15px;
}

.design-section {
  display: flex;
}

.design-section-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 100px;
  letter-spacing: 0.1em;
}

.design-section-text__title {
  margin-bottom: 80px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.advertising-section {
  background: url(../img/flowers.jpg) no-repeat center top / cover; 
}

.advertising-section__text { 
  margin: 0;
  padding: 120px;
  font-size: 35px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.publications {
  margin: 100px 0 150px;
  text-align: center;
}

.publications-collection {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.publications-collection-item__title {
  padding: 40px 0 55px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.publications-collection-item__text {
  line-height: 2;
}

.registration {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #1f242d;
}

.registration__button {
  align-self: center;
  padding: 17px 40px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.staff-section {
  margin: 0;
}

.staff-section__title {
  margin: 0;
  padding-top: 90px;
  text-align: center;
  text-transform: uppercase;
}

.staff-section-worker {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.staff-section-worker-item {
  width: 350px;
  padding: 97px 0 205px;
  text-align: center;
  list-style-type: none;
}

.staff-section-worker-item__title {
  margin: 0;
  padding: 50px 0 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}    

.staff-section-worker-item__text {
  margin: 0;
  width: 361px;
  padding-bottom: 37px;
  line-height: 2;
}

.staff-section-worker-item__instagram {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  background: url(../img/subscribe.jpg) no-repeat center top / cover;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.search-form__input {
  padding: 20px 150px;
  font-size: 15px;
  background: transparent;
  border: 3px solid #2a6348;
  cursor: pointer;  
}

.search-form__button {
  padding: 20px 30px;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #fff;
  background: #2a6348;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts-section {
  padding: 120px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #f3f5f8;
}

.contacts-section__title {
  margin-bottom: 130px;
  text-transform: uppercase;
}

.contacts-section-address {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  list-style-type: none;
}

.contacts-section-address-item {
  padding: 30px;
  background: #fff;
}

.contacts-section-address-item__title {
  margin: 0;
  padding: 20px 137px 30px 137px;
  text-transform: uppercase;
}

.contacts-section-address-item__text {
  margin: 0;
  color: #ada7a7;
}

.contacts-section-social-network {
  margin-top: 90px;  
}

.contacts-section-social-network__inst {
  text-decoration: none;
}

.contacts-section-social-network__fb {
  text-decoration: none;
}

.footer {
  color: #fff;
  background-color: #1f242d;
}

.footer__text {
  margin: 0;
  padding: 50px 0 50px 220px;

}