body {
  margin: 0; 
  padding: 0;
  font-family: Arial, sens-serif; 
  color: #2a6348; 
}

div, span, p, a, input, button {
  box-sizing: border-box;
} 

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  background: url(../img/1.1.jpg) no-repeat center top / cover; 
  letter-spacing: 0.2em; 
}

.top-section__title {
  margin: 0 auto; 
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
}

.top-section__subtitle {
  text-align: center;
}

.top-section__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 17px 40px;
  font-size: 20px;
  color: #fff;
  background: transparent;
  border: 3px solid #2a6348;
  border-radius: 8px; 
  text-transform: uppercase;
  cursor: pointer;
}

.top-section__button:hover {
  background: #2a6348;
}

.project-description {
  background-color: #f3f5f8;
  background-size: cover;
}
   
.project-description__title {
  margin: 0;
  padding: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.project-description__text {
  margin: 0;
  padding-bottom: 120px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.1em;
}

.area-development__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 120px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.area-development-list {
  margin: 0;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

.area-development-list-item {
  width: 350px;
  text-align: center;
  list-style-type: none;
}

.area-development-list-item__title {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 15px;
  text-transform: uppercase;
}

.area-development-list-item__text {
  margin: 0px;
  line-height: 2;
  font-size: 15px;
}

.design-section {
  height: 700px;
}

.design-section__img {
  float: left;
}

.design-section-text {
  position: relative;
  left: 10%;
  margin: 0;
  text-align: justify;
  letter-spacing: 0.1em;
}

.design-section-text__title {
  margin: 0;
  padding-top: 133px;
  padding-bottom: 80px;
  font-size: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.design-section-text__item {
  padding-top: 30px;
}

.advertising-section {
  height: 300px; 
  background: url(../img/flowers.jpg) no-repeat center top / cover; 
}

.advertising-section__text {
  position: relative;
  top: 30%;
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: #fff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


.publications {
  text-align: center;
}

.publications-collection {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.publications-collection-item {
  padding: 100px 0 190px;
  list-style-type: none;
}

.publications-collection-item__title {
  margin: 0;
  padding: 40px 0 55px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.publications-collection-item__text {
  line-height: 2;
}

.registration {
  display: flex;
  height: 200px;
  align-items: center;
  background-color: #1f242d;
}

.registration__button {
  margin: auto;
  padding: 17px 40px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.staff-section {
  margin: 0;
}

.staff-section__title {
  margin: 0;
  padding-top: 90px;
  text-align: center;
  text-transform: uppercase;
}

.staff-section-worker {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.staff-section-worker-item {
  width: 350px;
  padding: 97px 0 205px;
  text-align: center;
  list-style-type: none;
}

.staff-section-worker-item__title {
  margin: 0;
  padding: 50px 0 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}    

.staff-section-worker-item__text {
  margin: 0;
  width: 361px;
  padding-bottom: 37px;
  line-height: 2;
}

.staff-section-worker-item__instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.search-form {
  min-height: 450px;
  padding-top: 100px;
  background: url(../img/subscribe.jpg) no-repeat center top / cover;
  text-align: center;
}

.search-form__title {
  text-align: center;
  text-transform: uppercase;
}

.search-form__input {
  display: block;
  height: 60px;
  width: 100%;
  margin-bottom: 14px;
  font-size: 16px;
  background: transparent;
  border: 3px solid #2a6348;
  cursor: pointer;  
}

.search-form__button {
  display: block;
  width: 110px;
  height: 60px;
  background: #2a6348;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;  
}

.contacts-section {
  min-height: 670px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #f3f5f8;
}

.contacts-section__title {
  margin: 0;
  padding: 122px 0 127px;
  text-transform: uppercase;
}

.contacts-section-address {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.contacts-section-address-item {
  margin: 0;
  list-style-type: none;
  background: #fff;
}

.contacts-section-address-item__title {
  margin: 0;
  padding: 20px 137px 30px 137px;
  text-transform: uppercase;
}

.contacts-section-address-item__text {
  margin: 0;
  padding-bottom: 27px;
  color: #bcb7b7;
}

.contacts-section__instagram {
  position: relative;
  top: 70px;
}

.footer {
  display: flex;
  height: 110px;
  align-items: center;
  color: #fff;
  background-color: #1f242d;
}

.footer__text {
  padding-left: 80px;
}