body {
  margin: 0; 
  padding: 0;
  font-family: Arial, sens-serif; 
  color: #2a6348; 
}

div, span, p, a, input, button {
  box-sizing: border-box;
} 

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  background: url(../img/1.1.jpg) no-repeat center top / cover; 
  letter-spacing: 0.2em; 
}

.top-section__title {
  margin: 0 auto; 
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  text-transform: uppercase;
}

.top-section__subtitle {
  text-align: center;
}

.top-section__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 17px 40px;
  font-size: 20px;
  color: #fff;
  background: transparent;
  border: 3px solid #2a6348;
  border-radius: 8px; 
  text-transform: uppercase;
  cursor: pointer;
}

.top-section__button:hover {
  background: #2a6348;
}

.project-description {
  background-color: #f3f5f8;
  background-size: cover;
}
   
.project-description__title {
  margin: 0;
  padding: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.project-description__text {
  margin: 0;
  padding-bottom: 120px;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.1em;
}

.area-development__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 120px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.area-development__list {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.area-development__list-item {
  width: 350px;
  text-align: center;
  list-style-type: none;
}

.area-development__list-item__title {
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 80px;
  font-size: 15px;
  text-transform: uppercase;
}

.area-development__list-item__text {
  margin: 0px;
  line-height: 2;
  font-size: 15px;
}

.design-section {
  height: 700px;
}

.design-section__img {
  float: left;
  height: 100%;
}

.design-section__text {
  text-align: justify;
}

.design-section__title {
  font-size: 15px;
  text-transform: uppercase;
}

.banner {
  height: 300px; 
  background: url(../img/flowers.jpg) no-repeat center top / cover; 
}

.banner p {
  margin: 0;
  padding: 125px 125px 0px;
  font-weight: normal;
  font-size: 35px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.window {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 100px;
  text-align: center;
  background: #fff;
}

.window__item h3 {
  margin-top: 50px;
}

.registration {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #1f242d;
}

.registration__button {
  width: 292px;
  height: 70px;
  margin: auto;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.team h2 {
  padding: 80px 90px;
  text-align: center;
  text-transform: uppercase;
}

.team__team-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap; 
  justify-content: space-around;
  text-align: center;
  background: #fff;
}

.team-item {
  width: 350px;
  text-align: center;
}

.social-instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.search-form {
  min-height: 450px;
  margin-top: 90px;
  background: url(../img/subscribe.jpg) no-repeat center top / cover;
}

.search-form__content {
  width: 350px;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.search-form__content h2 {
  text-align: center;
  text-transform: uppercase;
}

.search-form__cell {
  display: block;
  height: 60px;
  width: 100%;
  margin-bottom: 14px;
  font-size: 16px;
  background: transparent;
  border: 3px solid #2a6348;
  cursor: pointer;  
}

.search-form__button {
  display: block;
  width: 110px;
  height: 60px;
  margin: -74px auto 20px 360px;
  background: #2a6348;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;  
}

.contacts {
  height: 667px;
  margin-top: -20px;
  background-color: #d5dde2;
}

.contacts h2 {
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
}

.contacts p {
  color: #bcb7b7;
}

.contacts__container {
  display: flex;
  justify-content: space-around;
}

.contacts__container_item {
  width: 360px;
  height: 150px;
  text-align: center;
  background: #fff;
}

.footer {
  display: flex;
  align-items: center;
  height: 110px;
  color: #fff;
  background-color: #1f242d;
}

.footer p {
  padding-left: 80px;
}