/*specification - то, что будет сохраняться на протяжении всего макета*/

body {
	font-family: Arial, sens-serif; /*шрифт и группа шрифтов без засечек*/
	padding: 0; /*убираю внутренние отступы (рамка по краям)*/
	margin: 0; /*убираю внешние отступ*/
	color: #2a6348; 
}

div, span, p, a, input, button {
	box-sizing: border-box;
}


.container { 
	margin: 0 auto; /*контейнер по центру*/
	margin: 0 7%;
	position: relative;
}

.btn {
	font-size: 20px;
	color: #fff;
	background: transparent;
	border: 3px solid #2a6348;
	cursor: pointer;
	padding: 17px 0;
	width: 217px;
}

.btn:hover {
	background: #2a6348;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

/*Hero section*/

header {
	background: url(../img/1.1.jpg) no-repeat center top / cover; /*запрет повторения,по центру и верхнему краю, растягивание на всю ширину экрана*/
	height: 100vh; /*высота изображения на ширину экрана*/
}

.header .container {
	height: 100vh;
}

.hamburger {
	width: 40px; /*длина*/
	position: absolute;
	right: 230px; /*прижмется к правому краю*/
	top: 8%;
	cursor: pointer;
}

.hamburger span {
	background: #EC7263;
	display: block;
	height: 2px; /*высота палочки*/
	margin-bottom: 6px; /*расстояние между палочками*/
	float: right; /*выравнивание палочек по правому краю*/
	width: 100%; /*ширина палочек, чтобы не схлопывались*/
}

.hamburger span:nth-child(2) {
	width: 75%;
}

.hamburger span:nth-child(3) {
	width: 50%;
}

.hamburger:hover span {
    float: left; /*при наведени палочки выравнятся по левому краю*/
}

.titles {
    position: absolute;	/* Абсолютное позиционирование */
    width: 700px; /* Ширина слоя в пикселах */
    height: 600px; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    top: 50%; /* Положение слоя от верхнего края */
    margin-left: -211px; /* Отступ слева, включает padding и border */
    margin-top: -250px;	/* Отступ сверху */
    letter-spacing: 0.2em; /*расстояние между буквами*/ 
}

.titles h1 {
	font-size: 55px;
	font-weight: normal;
	text-transform: uppercase;
}

.titles p {
	 margin-left: -90px;
}

.titles_btn {
	margin-left: 100px;
	margin-top: 50px;
	border-radius: 8px; 
	text-transform: uppercase;
}

/*почему не работает цвет контейнера?*/
.portfolio .container {
	background-color: #c4c5c3;
}
   
.portfolio h2 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 100px 100px;
	letter-spacing: 0.2em;
}

.portfolio p {
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	letter-spacing: 0.1em;
	margin-bottom: 130px;
}

/*почему не работает цвет контейнера?*/
.services .container {
	display: inline-block;
	background: #fff;
}

.services h2 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 90px 90px;
	letter-spacing: 0.2em;
}

.services__item h3 {
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.services__item p {
	 font-size: 12px;
}

/*не получается разделить 1 и 2 блоки*/
.services__item {
	display: inline-block;
	width: 350px;
	text-align: center;
}

.services__item:nth-child(1) { 
	float: left;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	
}


/*
.responsive .container {

}

.responsive img {
	
}

.responsive h2 {

}

.responsive p {

}

.window {
	margin: 0 auto;
	margin: 0 7%; }


 
1) creative portfolio template
2) love what you do and you will do it well (digital design, web development, we love you)
3) responsive design specialist
4) I have 99 problems, but the design is not one
5) ignite your passion
6) We are a team that loves what we do
7) subscribe for a stay in the cycle
8) write us a line
*/


