body {
	font-family: Arial, sens-serif; /*шрифт и группа шрифтов без засечек*/
	padding: 0; /*убираю внутренние отступы (рамка по краям)*/
	margin: 0; /*убираю внешние отступ*/
	color: #2a6348; 
}

div, span, p, a, input, button {
	box-sizing: border-box;
} 


h3 {
	margin-bottom: 50px;
	font-size: 15px;
	text-transform: uppercase;
}

.btn {
	width: 217px;
	padding: 17px 0;
	font-size: 20px;
	color: #fff;
	border: 3px solid #2a6348;
	background: transparent;
	cursor: pointer;
}

.btn:hover {
	background: #2a6348;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	height: 100vh; /*высота изображения на ширину экрана*/
	background: url(../img/1.1.jpg) no-repeat center top / cover; /*запрет повторения,по центру и верхнему краю, растягивание на всю ширину экрана*/
}

.halcyondays-header { 
	position: relative;
	margin: 0 7%; /*контейнер по центру*/
}

.halcyondays-header__hamburger {
	position: absolute;
	top: 8%;
	right: 230px; /*прижмется к правому краю*/
	width: 40px; /*длина*/
	cursor: pointer;
}

.halcyondays-header__hamburger span {
	display: block;
	float: right; /*выравнивание палочек по правому краю*/
	width: 100%; /*ширина палочек, чтобы не схлопывались*/
	height: 2px; /*высота палочки*/
	margin-bottom: 6px; /*расстояние между палочками*/
	background: #EC7263;
}

.halcyondays-header__hamburger span:nth-child(2) {
	width: 75%;
}

.halcyondays-header__hamburger span:nth-child(3) {
	width: 50%;
}

.halcyondays-header__hamburger:hover span {
    float: left; /*при наведени палочки выравнятся по левому краю*/
}

.halcyondays-header__titles {
    position: absolute;	/* Абсолютное позиционирование */
    top: 50%; /* Положение слоя от верхнего края */
    left: 50%; /* Положение слоя от левого края */
    width: 700px; /* Ширина слоя в пикселах */
    height: 600px; /* Высота слоя в пикселах */
    margin-left: -211px; /* Отступ слева, включает padding и border */
    margin-top: -250px;	/* Отступ сверху */
    letter-spacing: 0.2em; /*расстояние между буквами*/ 
}

.halcyondays-header__titles h1 {
	font-size: 55px;
	font-weight: normal;
	text-transform: uppercase;
}

.halcyondays-header__titles p {
	 margin-left: -90px;
}

.halcyondays-header__titles_btn {
	margin-left: 100px;
	margin-top: 50px;
	border-radius: 8px; 
	text-transform: uppercase;
}



.portfoliotemplate {
	position: relative;
	display: inline-block;
	hight: 100vh; 
	margin: auto;
	background-color: #d5dde2;
	background-size: cover;
}
   
.portfoliotemplate h2 {
	margin: 100px 100px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.portfoliotemplate p {
	margin-bottom: 130px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.1em;
}



.services h2 {
	margin: 90px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.container__services_item   {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
	background: #fff;
}

.services__item {
	width: 350px;
	text-align: center;
}

.services__item p {
	 font-size: 15px;
}



.responsive {
	height: 700px;
	position: relative;
	margin-top: 120px;
}

.responsive img {
	float: left;
}

.responsive__text {
	text-align: justify;
	padding-left: 910px;
}

.responsive__text h2 {
	font-size: 15px;
	text-transform: uppercase;
	padding: 130px 80px;
}



.advertising {
	background: url(../img/flowers.jpg) no-repeat center top / cover; 
	height: 295px; 
}

.advertising p {
	margin: 0;
	padding: 125px 125px 0px;
	font-size: 35px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}



.window {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin: 100px;
	background: #fff;
	text-align: center;
}

.window__item h3 {
	margin-top: 50px;
}



.blue {
	display: flex;
	align-items: center;
	height: 200px;
	background-color: #1f242d;
}

.blue__btn {
	margin: auto;
	padding: 0;
	text-align: center;
	width: 292px;
	height: 70px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
	text-transform: uppercase;
}


.team h2 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 80px 90px;
}

.container_team_item {
	position: relative;
	display: flex;
	justify-content: space-around;
	background: #fff;
	text-align: center;
}

.team_item {
	width: 350px;
	text-align: center;
}

.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #6d8fb3;
}

.subscribe {
	height: 450px;
	background: url(../img/subscribe.jpg) no-repeat center top / cover;
	margin-top: 90px;
}

.subscribe_form {
	padding: 7% 35%;
}

.form {
    width: 355px;
    height: 40px;
    padding-left: 9%;
}

.subscribe h2 {
	text-transform: uppercase;
	position: relative;
	text-align: center;
}

.cell {
    display: block;
    height: 60px;
    width: 100%;
    padding-left: 24px;
    border: 3px solid #2a6348;
	background: transparent;
	cursor: pointer;
    margin-bottom: 14px;
    font-size: 16px;
    box-sizing: border-box;
}

.act {
    background: #2a6348;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    padding: 19px 30px;
    text-decoration: none;
    margin: -74px auto 20px 360px;
    display: block;
    width: 110px;
    height: 60px;
}

.subscribe_img {
	width: 2em;
	padding-left: 45%;
}


.contacts {
    height: 667px;
    background-color: #d5dde2; 
    margin-top: -20px;
}

.contacts h2 {
	text-transform: uppercase;
	text-align: center;
	padding: 100px;
}

.contacts__cont h3 {
	text-transform: uppercase;
	text-align: center;
}

.container__contacts_cont {
	position: relative;
    display: flex;
	justify-content: space-around;
}

.contacts__cont {
	width: 360px;
    height: 150px;
	background: #fff;
	text-align: center;
}

.footer {
	display: flex;
	align-items: center;
	height: 110px;
	background-color: #1f242d;
	color: #fff;
}




